<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
 

  <div id='nav'>
<h2> DAILY JOURNAL</h2>
<img src="/images/icon-hamburger.svg" id="ham">
<div id="textnav">
<p id="home"><a href="/">HOME</a></p>
<p id="about"><a href="/about">ABOUT US</a></p>
<p id="contact"><a href="/contact">CONTACT US</a></p>
</div>

  </div>
  <div id="mobiletextnav">
    <p id="home"><a href="/">HOME</a></p>
    <p id="about"><a href="/about">ABOUT US</a></p>
    <p id="contact"><a href="/contact">CONTACT US</a></p>
    </div>
  <body>
    <div class="container">
